<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Jmoc</title>
    <link rel="stylesheet" href="../css/style.css">
    </stylesheet>


</head>

<body>


    <section class="forma">

        <img src="../img/jmologooficial.jpg" alt="Jmoc Cartagena" style="width: 100px;height:100px;">
        <p class="letra"><strong>JMO</strong></p>
        <p class="letra"><strong>Servicio Tecnico Especializado</strong></p>


        <h2 class="color-verde">
            <p id="unico"><strong>Sistema JMO</strong></p>
            <p class="control"> Empleado:<input type="text" size="22" placeholder="Ingresa Cedula"></p>
            <p class="control"> Contraseña:<input type="password" placeholder="Ingresa Contraseña"></p>
        </h2>

        <button class="buttons">
            Ingresar
        </button>

    </section>


</body>

</html>